Package                      Version
---------------------------- -----------
absl-py                      1.4.0
altgraph                     0.17.3
ascii                        3.6
asttokens                    3.0.0
astunparse                   1.6.3
async-generator              1.10
attrs                        23.1.0
autopep8                     2.0.2
base58                       2.1.1
beautifulsoup4               4.12.2
blinker                      1.6.2
cachelib                     0.12.0
cachetools                   5.3.0
certifi                      2022.12.7
cffi                         1.15.1
chardet                      5.1.0
charset-normalizer           3.1.0
click                        8.1.3
cloudscraper                 1.2.71
cmake                        3.26.1
colorama                     0.4.6
coloredlogs                  15.0.1
comm                         0.2.2
ConfigArgParse               1.5.5
contourpy                    1.3.1
coursera-dl                  0.11.5
cryptography                 41.0.2
cssselect                    1.2.0
cycler                       0.12.1
data-patterns                0.1.24
debugpy                      1.8.12
decorator                    4.4.2
deepface                     0.0.79
deprecation                  2.1.0
distlib                      0.3.8
dlib                         19.24.1
EbookLib                     0.18
exceptiongroup               1.1.1
executing                    2.2.0
face-recognition             1.3.0
face-recognition-models      0.3.0
filelock                     3.14.0
fire                         0.5.0
Flask                        2.3.2
Flask-Cors                   4.0.0
Flask-Session                0.6.0
Flask-SQLAlchemy             3.0.5
Flask-WTF                    1.2.1
flatbuffers                  23.3.3
fonttools                    4.55.0
gast                         0.4.0
gdown                        4.7.1
google-auth                  2.17.3
google-auth-oauthlib         1.0.0
google-pasta                 0.2.0
greenlet                     2.0.2
grpcio                       1.53.0
gunicorn                     20.1.0
h11                          0.14.0
h5py                         3.8.0
html5lib                     1.1
humanfriendly                10.0
idna                         3.4
imageio                      2.36.1
imageio-ffmpeg               0.5.1
img2pdf                      0.4.4
importlib-metadata           6.7.0
imutils                      0.5.4
ipykernel                    6.29.5
ipython                      8.32.0
itsdangerous                 2.1.2
jaraco.classes               3.2.3
jax                          0.4.8
jedi                         0.19.2
Jinja2                       3.1.2
joblib                       1.2.0
Js2Py                        0.74
jupyter_client               8.6.3
jupyter_core                 5.7.2
keras                        2.12.0
keyring                      24.2.0
kiwisolver                   1.4.7
libclang                     16.0.0
lightnovel-crawler           3.7.2
lxml                         4.9.2
Markdown                     3.4.3
markdown-it-py               3.0.0
MarkupSafe                   2.1.2
matplotlib                   3.9.2
matplotlib-inline            0.1.7
mdurl                        0.1.2
ml-dtypes                    0.1.0
more-itertools               9.1.0
MouseInfo                    0.1.3
moviepy                      1.0.3
mtcnn                        0.1.1
mysql-connector-python       9.0.0
nest-asyncio                 1.6.0
numpy                        1.22.0
oauthlib                     3.2.2
ocrmypdf                     14.3.0
opencv-contrib-python        4.7.0.72
opencv-python                4.7.0.72
opt-einsum                   3.3.0
outcome                      1.2.0
packaging                    23.1
pandas                       1.5.3
parso                        0.8.4
pdfminer.six                 20221105
pefile                       2023.2.7
pikepdf                      8.1.1
Pillow                       9.4.0
pip                          25.0.1
pipenv                       2023.12.1
platformdirs                 4.2.1
pluggy                       1.2.0
proglog                      0.1.10
prompt_toolkit               3.0.50
protobuf                     4.22.3
psutil                       7.0.0
pure_eval                    0.2.3
py2exe                       0.13.0.0
pyasn1                       0.4.8
pyasn1-modules               0.2.8
PyAutoGUI                    0.9.54
pycodestyle                  2.10.0
pycparser                    2.21
pycryptodome                 3.17
pyease-grpc                  1.6.1
PyGetWindow                  0.0.9
Pygments                     2.19.1
pyinstaller                  5.10.1
pyinstaller-hooks-contrib    2023.3
pyjsparser                   2.7.1
PyMsgBox                     1.0.9
pyparsing                    3.0.9
PyPDF2                       3.0.1
pyperclip                    1.8.2
PyQt5                        5.15.9
PyQt5-Qt5                    5.15.2
PyQt5-sip                    12.12.1
pyreadline3                  3.4.1
PyRect                       0.2.0
PyScreeze                    0.1.30
PySocks                      1.7.1
python-box                   6.1.0
python-dateutil              2.8.2
python-decouple              3.8
python-dotenv                1.0.0
python-slugify               8.0.1
pytube                       15.0.0
pytubefix                    8.1.1
pytweening                   1.0.7
pytz                         2023.2
pytz-deprecation-shim        0.1.0.post0
pywin32                      308
pywin32-ctypes               0.2.0
pyzmq                        26.2.1
questionary                  1.10.0
readability-lxml             0.8.1
regex                        2023.5.5
reportlab                    4.0.4
requests                     2.28.2
requests-oauthlib            1.3.1
requests-toolbelt            1.0.0
retina-face                  0.0.13
rich                         14.0.0
rsa                          4.9
scikit-learn                 1.2.2
scipy                        1.10.1
seaborn                      0.13.2
selenium                     4.9.1
setuptools                   67.6.0
six                          1.16.0
sniffio                      1.3.0
sortedcontainers             2.4.0
soupsieve                    2.4
SQLAlchemy                   2.0.16
stack-data                   0.6.3
tensorboard                  2.12.2
tensorboard-data-server      0.7.0
tensorboard-plugin-wit       1.8.1
tensorflow                   2.12.0
tensorflow-estimator         2.12.0
tensorflow-intel             2.12.0
tensorflow-io-gcs-filesystem 0.31.0
termcolor                    2.2.0
tesseract                    0.1.3
text-unidecode               1.3
threadpoolctl                3.1.0
tornado                      6.4.2
tqdm                         4.65.0
traitlets                    5.14.3
trio                         0.22.0
trio-websocket               0.10.2
typing_extensions            4.12.2
tzdata                       2023.3
tzlocal                      4.3
undetected-chromedriver      3.5.5
urllib3                      1.26.15
uv                           0.6.14
virtualenv                   20.26.1
watchdog                     3.0.0
wcwidth                      0.2.6
webdriver-manager            3.8.6
webencodings                 0.5.1
websockets                   11.0.3
Werkzeug                     2.3.6
wheel                        0.40.0
wrapt                        1.14.1
wsproto                      1.2.0
WTForms                      3.1.2
xgboost                      1.7.5
XlsxWriter                   3.1.0
zipp                         3.15.0
